<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_contact00"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="通讯录"
        android:theme="@style/AppTheme" >
        <activity
            android:name="contacter.LoginActivity"
            android:label="通讯录" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="contacter.MainActivity"
            android:label="通讯录" >
        </activity>
        <activity
            android:name="contacter.AddNewActivity"
            android:label="通讯录" >
        </activity>
       
        <activity
            android:name="contacter.RegisterActivity"
            android:label="通讯录" >
        </activity>
        <activity
            android:name="contacter.DetailActivity"
            android:label="通讯录" >
        </activity>
    </application>

</manifest>
